@model IEnumerable<PansiyonTransilvaniye.Models.KullaniciBilgileri>
@if (Session["Id"] == null)
{
    Response.Redirect("~/Login/Loged");
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>İletişim Bilgiler</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sifre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sifre)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "Edit", new { id = item.Id }, new { @class = " btn btn-primary", @style = "background-color:#2fee50" })
            </td>
        </tr>
    }

</table>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hakkimizda)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(item.Hakkimizda)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "Edit", new { id = item.Id }, new { @class = " btn btn-primary", @style = "background-color:#2fee50" })
            </td>
        </tr>
    }

</table>